<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="{{ path('user_list') }} ">Liste users</a>
			<a class="nav-item nav-link" href="{{ path('user_register') }} ">ajouter utilisateurs</a>
		</div>
	</div>

</nav>
