{% extends "base.html.twig" %}

{% block body %}

	<table class="table utilisateurs">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">user</th>
				<th scope="col">Age</th>
				<th scope="col">Created_at</th>
				<th scope="col">Majorité</th>
			</tr>
		</thead>
		<tbody>
			{% for utilisateur in utilisateurs %}
				<tr>
					<th scope="row">1</th>
					<td>
						{{ utilisateur['username'] }}
					</td>
					<td>
						{{ utilisateur['age'] }}
					</td>
					<td>
						{{ utilisateur['created_at'] }}
					</td>
					<td></td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
{% endblock %}
